#fonnn{
   font-Family:myFIrstFont;
font-size:2rem;
 color:black;
}
@media only screen and (max-width:1050px){
    #fonnn{
        font-Family:myFIrstFont;
     font-size:1.5rem;
      color:black;
     }
    }
@media only screen and (max-width:767px){
        #fonnn{
            font-Family:myFIrstFont;
         font-size:1rem;
          color:black;
         }
        }
        @media only screen and (max-width:561px){
            #fonnn{
                font-Family:myFIrstFont;
             font-size:0.57rem;
              color:black;
             }
            }